body{
font-family: "Montserrat" ;
line-height:2 ;
text-align: center;

}
a{
  font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat-bold";
}


p{
  color: #8f8f8f;
}

span{
  margin: 20px 10px;

}
/* heading */

.big-heading{
  font-family: "Montserrat-bold";
  color: #fff;
  font-size: 3rem;
  margin-bottom: 5rem;
  font-weight: bold;
}
.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

/* containers */

.container-fluid{
  padding: 7% 15%;
}

/* section */

.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
  background-color: #fff;
}

.navbar-brand{
  font-size: 2rem;
}

/* title section */

#title .container-fluid{
  text-align: left;
  padding: 3% 15% 7%;
}

.iphone{
  transform: rotate(25deg);
  width: 20%;
  position: absolute;
  right: 22%;
  top: 30%;
}

/* feature section */

#features{
position: relative;
}

.feature-box{
  padding:5%;
}

.feature-title{
  font-size: 1.5rem;
  font-weight: bold;
}
.icon{
  color: #ef8172;


}
.icon:hover{
  color: #ff4c68;

}

/* testimonial section  */

#testimonials{
  background-color:#ef8172;
}
.testimonial-image{
  border-radius: 100%;
  width: 10%;
  margin:20px;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

/* press section */

#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */

#pricing{
  padding: 100px;
}
 .price-heading{
   font-size: 1.5rem;
   font-weight: bold;
 }
.pricing-column{
  padding: 3% 2%;
}
.price-text{
  font-size: 3rem;
  line-height: 1.5;
}

/* call to action */

.d-btn{
  margin-right: 15px;
}

/*coditional style*/

@media(max-width: 767px) {
  #title{
    text-align: center;
  }
  .iphone{
    position: static;
    transform: rotate(0);
    margin-top: 20px;
    width: 60%;
  }
}
